{% load static %}


    <footer class="bg-light text-center py-3">
       
        <p>&copy; 2024 All rights reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="#">Terms of Service</a></li>
            <li class="list-inline-item"><a href="#">Contact Us</a></li>
        </ul>
  
    </footer>

    <!-- Mettez ici les liens vers les fichiers JavaScript, etc. -->

</body>
</html>
